@import "./vars.scss";
@import 'layout/header';
@import 'layout/hero';
@import 'layout/footer';
@import 'layout/products-list';
@import 'layout/button';


html {
  font-size: 10px;

  @media screen and (max-width: $break-large) {
    font-size: 9px;
  }

  @media screen and (max-width: $break-medium) {
    font-size: 8px;
  }
}

body {
  margin: 0;
  font-family: $mainFont;
}

.page-body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.container {
  max-width: 130rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}