@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
header {
  height: 17rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translateX(-50%);
  background-color: transparent;
  z-index: 10;
}
header.scrolled {
  height: 11rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
header.scrolled > .container h1 {
  color: #101010;
  transition: all 0.3s ease-in-out;
}
header.scrolled > .container .panier svg g path {
  fill: #101010;
  transition: all 0.3s ease-in-out;
}
header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .container h1 {
  font-size: 6rem;
  font-family: "Pangolin";
  color: #fff;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 425px) {
  header > .container h1 {
    font-size: 5rem;
  }
}
header > .container .panier {
  width: 5rem;
  cursor: pointer;
}
header > .container .panier svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header > .container .panier svg g path {
  fill: #fff;
  transition: all 0.3s ease-in-out;
}

.hero {
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
.hero:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #101010;
  opacity: 0.5;
  z-index: 1;
}
.hero h2 {
  position: relative;
  font-size: 8rem;
  color: #fff;
  font-weight: 300;
  z-index: 10;
}

footer {
  background: #f2f2f2;
  padding: 2rem 0;
}
footer > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.products-list {
  padding: 8rem 0;
}
.products-list .product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
  color: #101010;
}
.products-list .product:not(:first-child) {
  margin-top: 5rem;
}
.products-list .product.left {
  flex-direction: row;
}
.products-list .product.left > .infos > div {
  margin-left: 4rem;
}
.products-list .product.right {
  flex-direction: row-reverse;
}
.products-list .product.right > .infos > div {
  margin-right: 4rem;
}
.products-list .product > .image {
  width: 50%;
  min-width: 50%;
  position: relative;
}
.products-list .product > .image:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #101010;
  opacity: 0.5;
}
.products-list .product > .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-list .product > .infos {
  width: 50%;
}
.products-list .product > .infos .title {
  position: relative;
  font-size: 5rem;
  font-weight: 300;
  margin-top: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .products-list .product > .infos .title {
    margin-top: 0;
  }
}
.products-list .product > .infos .sizes {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.products-list .product > .infos .description {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 300;
}
.products-list .product > .infos .price {
  margin-top: 2rem;
  font-size: 4rem;
}
.products-list .product .actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
}
.products-list .product .actions .add-to-cart {
  margin-left: 2rem;
}

.button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-appearance: none;
  border: none;
  background-color: #3d4788;
  padding: 2rem 3rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: normal;
  border-radius: 1rem;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button:hover {
  transform: translateY(-0.2rem);
  transition: all 0.3s ease-in-out;
}
.button.add-to-cart {
  width: 7rem;
  height: 100%;
  max-height: 6.2rem;
  padding: 1.8rem;
}
.button.add-to-cart svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.button.add-to-cart svg {
  position: relative;
  left: -0.2rem;
  fill: #fff;
}

html {
  font-size: 10px;
}
@media screen and (max-width: 1220px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 8px;
  }
}

body {
  margin: 0;
  font-family: "Lato";
}

.page-body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.container {
  max-width: 130rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

/*# sourceMappingURL=style.css.map */
