.button {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-appearance: none;
  border: none;
  background-color: $bleu;
  padding: 2rem 3rem;
  color: $light;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: normal;
  border-radius: 1rem;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  outline: 0;

  &:hover {
    transform: translateY(-0.2rem);
    transition: all 0.3s ease-in-out;
  }

  &.add-to-cart {
    min-width: fit-content;
    width: fit-content;
    height: 100%;
    max-height: 6.2rem;

    @import './_svg-file';

    svg {
      width: 4rem;
      fill: $light;
    }
  }
}