@import '../vars.scss';

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 6rem;
      font-family: $secondaryFont;
      color: #fff;

      @media screen and (max-width: $break-small) {
        font-size: 5rem;
      }
    }

    .panier {
      width: 5rem;
      cursor: pointer;

      @import './svg-file.scss';
    }
  }
}