.product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
  color: $dark;

  &:not(:first-child) {
    margin-top: 5rem;
  }

  &.left {
    flex-direction: row;

    > .infos > div {
      margin-left: 4rem;
    }
  }

  &.right {
    flex-direction: row-reverse;

    > .infos > div {
      margin-right: 4rem;
    }
  }

  > .image {
    width: 50%;
    min-width: 50%;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $dark;
      opacity: .5;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  > .infos {
    width: 50%;

    .title {
      position: relative;
      font-size: 5rem;
      font-weight: 300;
      margin-top: 1.5rem;

      @media screen and (max-width: $break-medium) {
        margin-top: 0;
      }
    }

    .sizes {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: 600;
    }

    .description {
      margin-top: 2rem;
      font-size: 2rem;
      font-weight: 300;
    }

    .price {
      margin-top: 2rem;
      font-size: 4rem;
    }

  }

  .actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;

    .add-to-cart {
      margin-left: 2rem;
    }

  }
}