.product-detail {
  @import './product';

  padding: 8rem 0;

  .product {
    .infos {
      margin-left: 3rem;
    }

    .actions button.add-to-cart {
      flex-direction: row;
      margin-left: 0;

      svg {
        margin-left: 2rem;
      }
    }
  }
}