#products-cart {
  .product {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > img {
      --size: 12rem;
      width: var(--size);
      min-width: var(--size);;
      height: var(--size);;
      object-fit: cover;
    }

    > div {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}