#products-cart {
  padding: 8rem 0 0 0;

  @media screen and (max-width: $break-tablet) {
    padding: 6rem 2rem 0 2rem;
  }

  &.container {
    max-width: 80rem;
  }

  > .infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > h2 {
      font-size: 4rem;

      @media screen and (max-width: $break-tablet) {
        font-size: 2rem;
      }
    }
  }

  .product {
    --size: 12rem;
    display: grid;
    grid-template-columns: var(--size) 1fr;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: $break-small) {
      --size: 8rem;
    }

    &:not(:first-child) {
      --marginTop: 6rem;
      margin-top: var(--marginTop);
      position: relative;

      &:before {
        content: "";
        width: 100%;
        height: 0.1rem;
        position: absolute;
        top: calc(var(--marginTop) / 2 * -1);
        left: 0;
        background-color: $bleu;
        opacity: .5;
      }
    }

    &.remove {
      transform: translateX(-30%);
      opacity: 0;
      transition: all 0.3s ease-in-out;
      z-index: -1;
    }

    > img {
      width: var(--size);
      min-width: var(--size);;
      height: var(--size);;
      object-fit: cover;
    }

    > div.infos {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-left: 5rem;

      @media screen and (max-width: $break-small) {
        margin-left: 2rem;
      }

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.bottom {
          @media screen and (max-width: $break-small) {
            margin-top: 2rem;
          }
        }

        h2 {
          margin: 0;
          font-size: 3rem;
          color: $bleu;
        }

        .close {
          width: 1.5rem;
          min-width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
        }

        div.qty {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 1.7rem;

          > span:not(:first-child) {
            margin-left: 2rem;

            @media screen and (max-width: $break-small) {
              margin-left: 1rem;
            }
          }

          .minus, .plus {
            --sizes: 3rem;
            display: inline-block;
            position: relative;
            width: var(--sizes);
            height: var(--sizes);
            border-radius: var(--sizes);
            border: 1px solid $bleu;
            cursor: pointer;

            &:before {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 2rem;
            }
          }

          .minus::before {
            content: "-";
          }

          .plus::before {
            content: "+";
          }
        }


        .price {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: 1.7rem;

          @media screen and (max-width: $break-tablet) {
            flex-direction: column;
          }

          > div:not(:first-child) {
            margin-left: 3rem;

            @media screen and (max-width: $break-tablet) {
              margin-left: 0;
              margin-top: 0.5rem;
            }

          }
        }
      }
    }
  }
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 0;

  &.container {
    max-width: 80rem;

    @media screen and (min-width: $break-tablet + 1) {
      padding-right: 0;
      padding-left: 0;
    }

  }

  form#checkout {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    &:not(:first-child) {
      margin-top: 2rem;
    }

    &.duo {
      grid-template-columns: 1fr 1fr;

      @media screen and (max-width: $break-tablet) {
        grid-template-columns: 1fr;
      }
    }

    .form-field {
      $gray: lighten($dark, 80%);

      width: 100%;
      min-height: 6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      border-radius: 0.5rem;
      border: 1px solid $gray;
      outline: 0;


      label {
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);
        font-size: 1.8rem;
        color: $dark;
        transition: all 0.3s ease-in-out;
      }

      input {
        width: 100%;
        height: 100%;
        padding: 1rem 1rem 0 1rem;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        outline: 0;
        font-size: 1.8rem;

        &::placeholder {
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }

        &:focus, &.focus {
          + label {
            top: 1.3rem;
            left: 1rem;
            color: $bleu;
            font-size: 1.2rem;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }

  button[type="submit"] {
    margin-top: 4rem;
  }

}